<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Plan my trip</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
	<!-- <script src="material-datetime-picker.js" charset="utf-8"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
     <script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<link href="/dist/style.css" rel="stylesheet">
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
	</head>
<body>
<div class="page">
	<div class="form-container">
		<form action="/home/TripPlanner" method="get" id="search-form">
			<h2>Plan my trip</h2>
			<p>Create a customizable itinerary by selecting your interests. </p>
			<label>Destination</label>
			<input type="text"  name="city">
			<label>Check-in</label>
			<input type="text"  class="datepicker" name="check-in" id="check-in">
			<label>Check-out</label>
			<input type="text"  class="datepicker" name="check-out" id="check-out">
			
            <input type="hidden" name="duration" id="duration" value="3"/>
			<label>Interests</label>
            <p>Don't be shy, pick as many as you like.</p>
            <div class="options">
            <label class="btn i_museum_input" data-interest="museum">
                <input type="checkbox" name="places[]"  value="museum" autocomplete="off" >Museums
            </label>
            <label class="btn i_spa_input" data-interest="spa">
                <input type="checkbox" name="places[]"  value="spa"  autocomplete="off" > Relaxation
            </label>
            <label class="btn i_shopping_input" data-interest="shopping_mall">
                <input type="checkbox" name="places[]"  value="shopping_mall" autocomplete="off" >Shopping
            </label>
            </div>
			<input type="submit" text="Create a Plan">
		</form>
	</div>
</div>
  <div id="app"></div>
<script type="text/javascript">
			function parseDate(str) {
    var mdy = str.split('/');
    return new Date(mdy[2], mdy[0]-1, mdy[1]);
}

function daydiff(first, second) {
    return Math.round((second-first)/(1000*60*60*24));
}
			function ReCalculate()
			{
                var fromDate = parseDate($("#check-in").val());
			    var toDate = parseDate($("#check-out").val());
			    $("#duration").val(daydiff(fromDate,toDate)+1);
			}
$( function() {
    $( ".datepicker" ).datepicker({onSelect:function(){ReCalculate();}}
			);
  } );
			var checkboxes = document.querySelectorAll(".btn");

    var _iteratorNormalCompletion2 = true;
    var _didIteratorError2 = false;
    var _iteratorError2 = undefined;

    try {
        for (var _iterator2 = checkboxes[Symbol.iterator](), _step2; !(_iteratorNormalCompletion2 = (_step2 = _iterator2.next()).done); _iteratorNormalCompletion2 = true) {
            var checkbox = _step2.value;

            checkbox.addEventListener("click", checkInterest);
        }
    } catch (err) {
        _didIteratorError2 = true;
        _iteratorError2 = err;
    } finally {
        try {
            if (!_iteratorNormalCompletion2 && _iterator2.return) {
                _iterator2.return();
            }
        } finally {
            if (_didIteratorError2) {
                throw _iteratorError2;
            }
        }
    }

		function checkInterest(event) {
        event.stopPropagation();
        var el = this;
        var checkbox = el.firstElementChild;

        if (checkbox.checked) {
            checkbox.checked = false;
            el.classList.remove("checked");
        } else {
            checkbox.checked = true;
            el.classList.add("checked");
        }
        return;
    }</script>
	</body>
</html>
